<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SlimerExe" value="~/Slimerjs/slimerjs.bat" />
    <add key="SlimerJs" value="~/Slimerjs/slimerjs.js" />
    <add key="SlimerUserAgent" value="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36" />
    
    <add key="PngQuantExe" value="~/PngQuant/pngquant.exe" />
    <add key="PngQuantArgs" value="--skip-if-larger --force --speed=1 --ext=.png 256" />
    
    <add key="ScreenshotsLifetime" value="2.5" />
    <!-- ScreenshotLifetime unit is HOURS! -->
    <add key="ScreenshotsDir" value="~/Screenshots/" />
    
    <add key="LoggerFile" value="~/Content/Logs/WebBloatScoreLog.txt" />
    <!-- Logger Levels: Off, Error, Warning, Info -->
    <add key="LoggerLevel" value="Info" />
    
    <!-- Rate Limits -->
    <add key="A1_RateLimit" value="1" />
    <!--<add key="A1_RateLimit" value="2" />-->
    <add key="A2_RateLimit" value="4" />
    <add key="A3_RateLimit" value="8" />
    <add key="A4_RateLimit" value="10" />
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error.html">
      <error statusCode="404" redirect="~/NotFound.html?404"/>
      <error statusCode="500" redirect="~/Error.html?500"/>
    </customErrors>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages buffer="true" enableViewState="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <httpErrors errorMode="Custom">
      <remove statusCode="403"/>
      <remove statusCode="404"/>
      <error statusCode="403" path="/Error.html" responseMode="ExecuteURL" />
      <error statusCode="404" path="/NotFound.html" responseMode="ExecuteURL" />
    </httpErrors>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="false">
          <add verb="GET" allowed="true"/>
          <add verb="POST" allowed="true"/>
        </verbs>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>